

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    background-color: #333;
    padding: 0 0.5rem;
}
.navbar p{
    font-size:larger;
}
.navbar a{
    text-decoration: none;
    margin: 0 1rem ;
}
.navbar a:hover{
text-decoration: underline;
}
